# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
.uv/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Env
.env
.env.local

# Tools
.idea/
.vscode/
.DS_Store

# Node / Bun
node_modules/

# Logs
*.log

# Syncthing
.syncthing.*.tmp
*.sync-conflict-*
