@import "tailwindcss";

@source "../main/templates";
@source "../main/views.py";
@source "../main/pizza_orders";

@custom-variant dark (&:where(html:has(input[name="is_dark_mode"]:checked) *));
@custom-variant fullscreen (&:where(html:has(input[name="is_fullscreen_mode"]:checked) *));
@custom-variant pizza (&:where(html:has(input[name="is_pizza_mode"]:checked) *));

@theme {
    --font-sans: "Barlow", sans-serif;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
