<div {{ attrs.render(class="flex flex-col p-4 overflow-y-auto flex-col size-full bg-neutral-100 border border-transparent shadow rounded-2xl [scrollbar-width:none] [-ms-overflow-style:none] scroll-smooth transition-colors duration-[250ms] sm:p-8 dark:bg-[#161C1D] dark:border-neutral-200/5") }}>

    {{ content }}

</div>