<div {{ attrs.render(class="size-full flex flex-col items-center justify-center transition-transform duration-[250ms] sm:fullscreen:scale-125") }}>
    <iconify-icon icon="tabler:message-chatbot-filled" class="[animation:fade_1s_both_50ms] size-12 text-neutral-500" height="none"></iconify-icon>

    <h3 class="[animation:fade_1s_both_100ms] mt-2 tracking-wide">
        Functional Chatbots
    </h3>

    <p class="[animation:fade_1s_both_150ms] mt-1 text-sm text-neutral-500">
        Send a message to start the conversation.
    </p>

</div>