<label class="group relative flex items-center rounded-xl ps-6 pe-0 bg-neutral-100 shadow border border-transparent transition-[border-color,background-color,padding] duration-[250ms] has-[input:focus:placeholder-shown]:border-neutral-300 has-[:focus]:border-neutral-400 has-[input:focus]:outline-2 has-[input:focus:placeholder-shown]:outline-0 dark:bg-[#161C1D] dark:border-neutral-200/5 dark:has-[input:focus:placeholder-shown]:border-neutral-200/15 dark:has-[input:focus]:border-neutral-200/50 sm:fullscreen:pe-2 sm:fullscreen:ps-7 sm:fullscreen:py-1 [&>input]:outline-none [&>input]:bg-transparent [&>input]:grow [&>input]:text-sm [&>input]:sm:fullscreen:text-lg">

    {# https://jinjax.scaletti.dev/guide/extra/ #}
    {# Any attrs passed into the ChatInput component will included inside this element #}
    <input {{ attrs.render() }} type="text" placeholder="Type a message..." autocomplete="off" />

    {# Send button (will work inside a <form> element) #}
    <button type="submit" class="inline-flex justify-center items-center text-neutral-400 transition-colors duration-[250ms] group-has-[input:focus:placeholder-shown]:text-neutral-500 group-has-[input:focus]:text-neutral-600 dark:text-neutral-600 dark:group-has-[input:focus:placeholder-shown]:text-neutral-500 dark:group-has-[input:focus]:text-neutral-200">
        <iconify-icon icon="fluent:send-28-filled" class="size-10 m-2 inline-flex justify-center items-center rounded-xl text-xl transition-transform sm:fullscreen:scale-125"></iconify-icon>
    </button>

    {# Helper text #}
    <span class="hidden group-has-[input:focus]:sm:flex group-has-[input:focus:placeholder-shown]:hidden items-center text-xs absolute -bottom-6 left-0 [animation:fade_0.5s_both] tracking-wide">
        <iconify-icon icon="mi:enter" class="me-1.5 text-lg translate-y-[1px] inline"></iconify-icon>
        Press <span class="px-1 font-[monospace] translate-y-[0px] text-[0.7rem]">Enter</span> to send the message
    </span>
</label>