<div {{ attrs.render(class="flex flex-col *:flex *:flex-col p-4 overflow-y-auto flex-col size-full bg-neutral-100 shadow rounded-2xl [scrollbar-width:none] [-ms-overflow-style:none] scroll-smooth sm:p-8") }}>

    {{ content }}

</div>