<div {{ attrs.render(class="flex flex-col size-full p-4 bg-neutral-100 border border-transparent shadow rounded-2xl overflow-y-auto [scrollbar-width:none] [-ms-overflow-style:none] scroll-smooth transition-colors duration-[250ms] dark:bg-[#161C1D] dark:border-neutral-200/5 bg-opacity-95 dark:bg-opacity-95 sm:p-8") }}>
    
    {{ content }}

</div>