{#def request, chat_messages=[] #}

<BaseLayout>
    <div class="flex flex-col gap-3 size-full max-w-full max-h-full transition-[max-width,max-height] duration-[250ms] sm:max-w-[500px] sm:max-h-[400px]">

        <ChatContainer id="chat-container" class="group">

            <!-- Shown when there aren't any chat message -->
            <ChatPlaceholder class="group-has-[.chat-message:not(#typing-indicator)]:hidden" />

        </ChatContainer>

        <form id="user-message-form"
              hx-post="/add-user-message"
              hx-target="#chat-container"
              hx-swap="beforeend scroll:#chat-container:bottom"
              hx-on::after-request="htmx.find('input[name=message]').value = ''"
        >
            <ChatInput name="message" required />
        </form>

        <div id="trigger-assistant"
                {# TODO: Trigger an hx-post to `/add-assistant-message` when `addAssistantMessage` is received from the server
                   References: 
                        - HX-Trigger Response Header: https://htmx.org/headers/hx-trigger/
                        - hx-trigger Attribute: https://htmx.org/attributes/hx-trigger/ 
                #}
        />

    </div>
</BaseLayout>