<div {{ attrs.render(class="relative flex flex-col p-6 [&_>_#pizza-orders]:flex [&_>_#pizza-orders]:flex-col [&_>_#pizza-orders]:max-h-[calc(100%-3.5rem)] [&_>_#pizza-orders]:overflow-scroll overflow-y-auto size-full bg-neutral-100 border border-transparent shadow rounded-2xl [scrollbar-width:none] [-ms-overflow-style:none] scroll-smooth transition-colors duration-[250ms] dark:bg-[#161C1D] dark:border-neutral-200/5 !bg-opacity-90") }}>
    {{ content }}
</div>