<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Functional Chatbots | DjangoCon Europe 2024 | Christian Tanul</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="{{ static('main/favicon.svg') }}" type="image/svg+xml" />

    <link rel="stylesheet" href="{{ static('main/css/fonts.css') }}" />
    <link rel="stylesheet" href="{{ static('main/css/output.css') }}" />

    <script defer src="{{ static('main/js/htmx.min.js') }}"></script>
    <script src="{{ static('main/js/hyperscript.min.js') }}"></script>
</head>

<body class="font-sans text-neutral-800 dark:text-neutral-100">

<div class="*:fixed *:inset-0 *:transition-opacity *:duration-[250ms] *:size-full">
    <div id="background-dark" class="opacity-0 dark:opacity-100 bg-neutral-940"></div>
    <div id="background-light" class="opacity-100 dark:opacity-0 bg-gradient-to-br from-neutral-100 to-neutral-300"></div>
    <video id="background-pizza" src="{{ static('main/pizza-footage.webm') }}" class="object-cover opacity-0 pizza:opacity-100 dark:saturate-50 brightness-50 duration-200 after:content-[''] relative after:absolute after:size-full after:opacity-20 after:bg-black" muted autoplay loop playsinline></video>
</div>

<div class="fixed top-4 left-6 sm:left-1/2 sm:-translate-x-1/2 h-fit max-h-[80px] overflow-hidden transition-[max-height,margin-bottom] duration-[250ms] flex flex-col sm:items-center justify-center mb-3 sm:mb-6 sm:fullscreen:max-h-0 sm:fullscreen:mb-0 pizza:text-neutral-300 z-10">
    <a href="https://github.com/scriptogre/functional-chatbots" target="_blank" rel="noopener" class="sm:text-xl transition-[margin-bottom] duration-[250ms] mb-1.5 sm:mb-3">
        <code>Functional Chatbots · DjangoCon Europe 2024</code>
    </a>
</div>

{# Social icons, top-right, fixed. #}
<div class="fixed top-4 right-5 flex items-center gap-2 z-10">
    <a href="https://github.com/scriptogre" target="_blank" rel="noopener" class="p-1 text-lg text-neutral-500 hover:text-neutral-800 dark:text-neutral-400 hover:dark:text-neutral-50 pizza:text-neutral-300 hover:pizza:text-neutral-50 transition-colors duration-[250ms]" aria-label="Github">
        <span class="icon-[akar-icons--github-fill]"></span>
    </a>
    <a href="https://www.linkedin.com/in/christian-tanul-94333a17a/" target="_blank" rel="noopener" class="p-1 text-lg text-neutral-500 hover:text-neutral-800 dark:text-neutral-400 hover:dark:text-neutral-50 pizza:text-neutral-300 hover:pizza:text-neutral-50 transition-colors duration-[250ms]" aria-label="LinkedIn">
        <span class="icon-[akar-icons--linkedin-fill]"></span>
    </a>
</div>

<main class="relative z-10 flex flex-col sm:flex-row justify-center items-start sm:items-center h-screen py-14 px-6">
    {% block content %}{% endblock %}
</main>

</body>
</html>
